*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.gitattributes
/.editorconfig
/.env.example
/.env.testing
/.env.testing.example
/.gitignore
/artisan
/composer.json
/composer.lock
/package.json
/package-lock.json
/phpunit.xml
/postcss.config.js
/tailwind.config.js
/vite.config.js
/yarn.lock
npm-debug.log
yarn-error.log
npm-error.log
/node_modules
Homestead.json
Homestead.yaml
Thumbs.db
